{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": { "legacyDecorators": true }
  },
  "extends": "airbnb",
  "rules": {
    "semi": [0],
    "react-jsx-filename-extension": [0],
    "jsx-ally/achor-is-valid": [0],
    "react/require-default-props": [0],
    "arrow-body-style": [0],
    "no-param-reasign": [0],
    "react/jsx-filename-extension": [0],
    "global-require": [0],
    "no-console": [0],
    "import/no-named-as-default-member": [0],
    "import/no-named-as-default": [0],
    "react/prop-types": [0],
    "react/destructuring-assignment": [0],
    "react/forbid-prop-types": [0]
  }
}
